@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import "variables";
.content {
  padding: 4em;
  margin-top: 1em;

  .paragraphLink {
    color: $link-color;
    font-weight: bold;
  }

  @media screen and (max-width: $break-small) {
    padding: 1em;
  }
}
body {
  padding: 0;
  font-family: "Raleway", sans-serif;
}
