$break-small: 622px;
$break-large: 1200px;

img {
  width: 20em;
  margin-right: 2em;

  @media screen and (max-width: $break-small) {
    width: 10em;
    margin-right: 1em;
  }
}

h2 {
  width: 42%;
  font-size: 4em;
  color: #28334a;
  float: right;
  @media screen and (max-width: $break-small) {
    float: right;
    font-size: 1.8em;
  }
}

.menu {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  width: 100%;

  @media screen and (max-width: $break-small) {
    display: flex;
    flex-direction: column;
    height: 20em;
    justify-content: space-around;
  }

  &__link {
    margin-right: 3em;
    color: #28334a;
    text-decoration: none;

    :hover {
      background-color: #ddd;
      color: black;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6e1ec;
  //flex-wrap: wrap;
}
.mobileMenu {
  color: #28334a;
}

.burgerMenu {
  height: 3em;
  float: right;

  @media screen and (min-width: $break-small) {
    display: none;
  }
}
